<h1>Editing '<%= @task.name %>'</h1>

<% if @task.errors.any? %>
  <ul>
    <% @task.errors.full_messages.each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>
<% end %>
<h2> Please enter the new name and/or due date of your task below </h2>
<br>
<%= form_for @task do |f| %>
  <p> New Name <%= f.text_field :name %> </p>
  <br>
  <br>
  <p> New Date  <%= f.text_field :due %> </p>
  <br>
  <br>
  <button>Submit</button>
<% end %>