<h1> Here are the items on <%=@list.name%> </h1>
<% @items.each do |item|%>
	<p> <%=item.name%> <%=item.due%> <%=item.completed%></p>
<%end%>

<h2> Click below to add a new task to this list </h2>

<%list_id = @list.id%>


<form method="get" action="/lists/<%=list_id%>/new_task">
    <button type="submit">Add a Task</button>
</form>

