<h1> Here are the items on <%=@list.name%> </h1>
<br>
<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th> Task </th>
			<th> Due Date </th>
			<th> Done? </th>
		</tr>
	</thead>

<% @items.each do |item|%>
	<tr>
		<td><%=item.name%></td>
		<td><%=item.due%></td>

		<% url = "/lists/tasks/#{item.id}" %>
		<td><form action='<%=url%>' method='POST'>
				<input type='hidden' name='_method' value='PATCH'>
				<input type='hidden' name='item_id' value=<%=item.id%>>
					<% if item.completed %>
						<button class="btn btn-success">BAM!</button>
					<% else %>
						<button class="btn btn-danger">Not yet.</button>
					<% end %>
			</form> 
		</td>
	</tr>
<%end%>

</table>

<%list_id = @list.id%>

<br>

<form method="get" action="/lists/<%=list_id%>/new_task">
    <button type="submit">Add a Task</button>
</form>

