<h1> Here are the items on <%=@list.name%> </h1>
<br>
<table class="table table-striped table-bordered table-hover">
	<thead align="center">
		<tr>
			<th> Task </th>
			<th> Due Date </th>
			<th> Done? </th>
			<th> Edit </th>
			<th> Delete </th>
		</tr>
	</thead>

<% @items.each do |item|%>
	<tr>
		<td><%=item.name%></td>
		<td style="width:220px" align="center"><%=item.due%></td>

		<% url = "/lists/tasks/#{item.id}" %>
		<td style="width:100px" align="center">
		<%= form_tag "#{url}", method: :patch do %>
 

			<form action='<%=url%>' method='POST'>
				<input type='hidden' name='_method' value='PATCH'>
				<input type='hidden' name='item_id' value=<%=item.id%>>
					<% if item.completed %>
						<button class="btn btn-success">BAM!</button>
					<% else %>
						<button class="btn btn-danger">Not yet.</button>
					<% end %>
			</form>
			<% end %> 
		</td>
		<td style="width:100px"align="center"> <%= button_to "✎", edit_task_path(item.id), method: :get %>
		</td>
		<td style="width:100px" align="center"> <%= button_to "☠", delete_task_path(item.id), method: :patch %>
		</td>
	</tr>
<%end%>

</table>

<%list_id = @list.id%>

<br>

<form style='float: left; padding: 5px;' method="get" action="/lists/<%=list_id%>/new_task">
    <button type="submit">Add a Task</button>
</form>

<form style='float: left; padding: 5px;' method="get" action="/lists/<%=list_id%>/edit">
	<button type="submit">Edit List Name</button>
</form>


