<!DOCTYPE html>
<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <title>Todolistrails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<br>
<div class="container">
    <div class="row">
      <div class="col-sm-1"><a href="/">Home</a></div>
      <div class="col-sm-1"><a href="/lists">Tasks Left</a></div>
      <div class="col-sm-1"><a href="/random">Next Task</a></div>
      <div class="col-sm-1"><a href="/search">Search</a></div>
      <% if current_user %>
      <div class="col-sm-1"> <%=current_user.email%> </div>
      <%end%>
<br>
<br>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>



<%= yield %>

</body>
</html>